@import "../../../lib/bootstrap/less/bootstrap.less";

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.commentApp {
	&.show-modal {
		.appHeader,
		.feedList {
			-webkit-filter: blur(4px);
			filter: blur(4px);
		}
	}
}

.avatar {
	background: white;
	height: 48px;
	width: 48px;
	overflow: hidden;
	border: 1px solid gray;
	img {
		.img-responsive;
	}	
}

.post {
	.clearfix;
	.img-avatar:extend(.avatar all) {
		float: left;
	}
	.post-content {
		float: left;
	}	
}

.appHeader {
	padding: 15px;
	box-shadow: 0px 0px 10px fadeout(black, 66%);
	.img-avatar:extend(.avatar all) {}
}

.feedList {
	position: relative;
	padding: 15px;
}

.feedPost {
	&:extend(.post all);
	padding: 15px;
	border: 1px solid gray;
	margin-bottom: 15px;
	.post-content {
		padding-left: 15px;
	}
}

.postPanel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: lightgray;
	&:extend(.post all);
	.panelBody {
		padding: 15px;
	}
	.commentList {
		clear: both;
	}
  left: 100%;
  transition: left .5s ease-in;
	&.postPanel-active {
		left: 0%;
		.commentForm {
			bottom: 0%;
		}
	}
}

.slidePostPanel-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.slidePostPanel-enter.slidePostPanel-enter-active {
  opacity: 1;
}

.slidePostPanel-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.slidePostPanel-leave.slidePostPanel-leave-active {
  opacity: 0.01;
}


.comment {
	&:extend(.post all);
}

.commentForm {
	position: fixed;
	bottom: -100%;
	width: 100%;
	background: lightgray;
	margin: 0;
	padding: 15px;
	border-top: 1px solid gray;
  transition: bottom .5s ease-in;
}

.modal {
	.modal-dialog {
		position: fixed;
		width: auto;
		margin: auto;
		top: 10%;
		bottom: 10%;
		left: 10%;
		right: 10%;
	}
}